.calculator {
    background-color: #0e5563;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 300px;
    padding: 20px;
  }
  
  .buttonGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }